body {
    margin: 60px auto;
    padding: 2px;
    background-color: #f0f0f0;
    background-image: url(../img/bg.jpg);
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    border-bottom: 1px solid #d5d5d5;
    margin: 10px auto;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding: 2px;
    margin: 2px auto;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    margin: 10px auto;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    margin: 10px auto;
}

div.container {
	margin: 20px auto 40px; 
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

i.fa {
    font-size: 1em;
    text-shadow: 1px 1px 1px #ccc;
}

i.fa-fw {
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #ccc;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #eee;
}

header {
    background-color: #f0f0f0;
    background-image: url(../img/bg-top.jpg);
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 0 3px rgba(190, 190, 190, 0.75);
}

header img {
    float: left;
    height: 128px;
    margin-right: 15px;
    padding: 11px;
}

header li {
    list-style-type: none;
    padding: 4px 0;
}

header ul {
    margin-top: 5px;
    margin-left: 0;
    padding-left: 0;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    background-color: #575757;
    background-color: rgba(0, 0, 0, 0.8);
}

/*THEME STARTS HERE*/

.logo {
	float: left;
	background-color: #f0f0f0;
    border: 1.5px solid #ffffff;
    border-radius:20px;
    box-shadow: 0 0 3px rgba(190, 190, 190, 0.75);
    width: 8em;
    height: 7.2em;
    margin: -20px 40px 20px 40px;
}

.logo img {
	width: 100%;
	height: auto;
	padding: 5px;
}

nav {
	border-bottom: 1px solid #000000;
	display: inline-block;
}

nav li {
    list-style-type: none;
    padding: 10px 0;
}

nav ul {
    margin-top: 5px;
    margin-left: 0;
    padding-left: 0;
}

.ticker {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
	border-top: 2px dotted #ffcccc;
	border-bottom: 2px dotted #ffcccc;
	width: 100%;
	height: 2em;
	margin-top: 40px;
}

section h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-decoration: underline;
}

#resource {
}

#timeline {
}

#aboutus {
    float: left;
    display: none;
    border: 1px solid silver;
	background-color: rgba(100, 100, 100, 0.2);
}
